In [1]:
# Import Libraries
import numpy as np
import pandas as pd

In [5]:
# Load Dataset
data_raw = pd.read_csv('big-mac-raw-index.csv')
data_adj = pd.read_csv('big-mac-adjusted-index.csv')
data_full = pd.read_csv('big-mac-full-index.csv')

In [6]:
data_raw.head()

,date,iso_a3,currency_code,name,local_price,dollar_ex,dollar_price,USD,EUR,GBP,JPY,CNY
0,2000-04-01,ARG,ARS,Argentina,2.50,1.000000,2.500000,-0.00398,0.05007,-0.16722,-0.09864,1.09091
1,2000-04-01,AUS,AUD,Australia,2.59,1.680000,1.541667,-0.38579,-0.35246,-0.48645,-0.44416,0.28939
2,2000-04-01,BRA,BRL,Brazil,2.95,1.790000,1.648045,-0.34341,-0.30778,-0.45102,-0.40581,0.37836
3,2000-04-01,GBR,GBP,Britain,1.90,0.632911,3.002000,0.19602,0.26092,0.00000,0.08235,1.51076
4,2000-04-01,CAN,CAD,Canada,2.85,1.470000,1.938776,-0.22758,-0.18566,-0.35417,-0.30099,0.62152

In [7]:
data_adj.head()

,date,iso_a3,currency_code,name,local_price,dollar_ex,dollar_price,GDP_dollar,adj_price,USD,EUR,GBP,JPY,CNY
0,2011-07-01,ARG,ARS,Argentina,20.00,4.132500,4.839685,9138.177,3.149757,1.011,0.475,0.850,0.906,0.946
1,2011-07-01,AUS,AUD,Australia,4.56,0.922382,4.943724,55589.549,5.792526,0.117,-0.181,0.027,0.059,0.081
2,2011-07-01,BRA,BRL,Brazil,9.50,1.541600,6.162429,10816.487,3.245241,1.485,0.823,1.286,1.356,1.405
3,2011-07-01,GBR,GBP,Britain,2.39,0.614137,3.891637,36119.846,4.684831,0.087,-0.202,0.000,0.031,0.052
4,2011-07-01,CAN,CAD,Canada,4.73,0.945850,5.000793,46214.914,5.259173,0.244,-0.087,0.145,0.180,0.204

In [11]:
data_full.tail()

,date,iso_a3,currency_code,name,local_price,dollar_ex,dollar_price,USD_raw,EUR_raw,GBP_raw,JPY_raw,CNY_raw,GDP_dollar,adj_price,USD_adjusted,EUR_adjusted,GBP_adjusted,JPY_adjusted,CNY_adjusted
1572,2022-01-01,URY,UYU,Uruguay,239.00,44.0355,5.427439,-0.06585,0.09539,0.12684,0.60353,0.41588,16023.35,3.567014,0.39755,0.35020,0.41463,1.00793,0.33410
1573,2022-01-01,USA,USD,United States,5.81,1.0000,5.810000,0.00000,0.17260,0.20626,0.71656,0.51568,63358.49,5.336460,0.00000,-0.03388,0.01222,0.43675,-0.04540
1574,2022-01-01,VEN,VES,Venezuela,23.00,4.5435,5.062177,-0.12871,0.02167,0.05100,0.49561,0.32060,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1575,2022-01-01,VNM,VND,Vietnam,69000.00,22650.0000,3.046358,-0.47567,-0.38517,-0.36752,-0.09996,-0.20528,3522.51,3.099717,-0.09732,-0.12790,-0.08628,0.29694,-0.13830
1576,2022-01-01,ZAF,ZAR,South Africa,39.90,15.4700,2.579186,-0.55608,-0.47946,-0.46451,-0.23798,-0.32715,5624.50,3.178292,-0.25464,-0.27989,-0.24553,0.07090,-0.28848

In [8]:
data_raw.shape

(1577, 12)

In [9]:
data_adj.shape

(665, 14)

In [13]:
data_raw.head()

,date,iso_a3,currency_code,name,local_price,dollar_ex,dollar_price,USD,EUR,GBP,JPY,CNY
0,2000-04-01,ARG,ARS,Argentina,2.50,1.000000,2.500000,-0.00398,0.05007,-0.16722,-0.09864,1.09091
1,2000-04-01,AUS,AUD,Australia,2.59,1.680000,1.541667,-0.38579,-0.35246,-0.48645,-0.44416,0.28939
2,2000-04-01,BRA,BRL,Brazil,2.95,1.790000,1.648045,-0.34341,-0.30778,-0.45102,-0.40581,0.37836
3,2000-04-01,GBR,GBP,Britain,1.90,0.632911,3.002000,0.19602,0.26092,0.00000,0.08235,1.51076
4,2000-04-01,CAN,CAD,Canada,2.85,1.470000,1.938776,-0.22758,-0.18566,-0.35417,-0.30099,0.62152

In [16]:
base_currencies = ['USD', 'EUR', 'GBP', 'JPY', 'CNY']

data_raw[data_raw['currency_code'] == 'USD']

,date,iso_a3,currency_code,name,local_price,dollar_ex,dollar_price,USD,EUR,GBP,JPY,CNY
27,2000-04-01,USA,USD,United States,2.510000,1.0,2.510000,0.0,0.05427,-0.16389,-0.09503,1.09927
55,2001-04-01,USA,USD,United States,2.540000,1.0,2.540000,0.0,0.12310,-0.10743,0.07129,1.12436
87,2002-04-01,USA,USD,United States,2.490000,1.0,2.490000,0.0,0.04785,-0.13706,0.23550,0.96354
119,2003-04-01,USA,USD,United States,2.710000,1.0,2.710000,0.0,-0.09091,-0.13810,0.24122,1.26655
158,2004-05-01,USA,USD,United States,2.900000,1.0,2.900000,0.0,-0.11800,-0.13824,0.25076,1.30885
199,2005-06-01,USA,USD,United States,3.060000,1.0,3.060000,0.0,-0.14600,-0.11057,0.30619,1.41198
232,2006-01-01,USA,USD,United States,3.150000,1.0,3.150000,0.0,-0.10354,-0.05010,0.44024,1.41923
272,2006-05-01,USA,USD,United States,3.100000,1.0,3.100000,0.0,-0.17705,-0.15021,0.39010,1.36958
313,2007-01-01,USA,USD,United States,3.220000,1.0,3.220000,0.0,-0.15468,-0.16009,0.39823,1.27575
354,2007-06-01,USA,USD,United States,3.410000,1.0,3.410000,0.0,-0.18164,-0.14902,0.48962,1.35746
395,2008-06-01,USA,USD,United States,3.570000,1.0,3.570000,0.0,-0.33180,-0.21890,0.36240,0.95179
436,2009-07-01,USA,USD,United States,3.570000,1.0,3.570000,0.0,-0.22679,-0.03207,0.03268,0.95142
477,2010-01-01,USA,USD,United States,3.580000,1.0,3.580000,0.0,-0.26093,-0.02488,0.02410,0.95531
518,2010-07-01,USA,USD,United States,3.733333,1.0,3.733333,0.0,-0.13830,0.07170,0.01710,0.91670
560,2011-07-01,USA,USD,United States,4.065000,1.0,4.065000,0.0,-0.17519,0.04455,-0.00452,0.78832
603,2012-01-01,USA,USD,United States,4.197220,1.0,4.197220,0.0,-0.05270,0.09777,0.00891,0.72127
644,2012-07-01,USA,USD,United States,4.327500,1.0,4.327500,0.0,-0.00390,0.03967,0.05780,0.76653
687,2013-01-01,USA,USD,United States,4.367396,1.0,4.367396,0.0,-0.10468,0.02806,0.24287,0.69793
730,2013-07-01,USA,USD,United States,4.556667,1.0,4.556667,0.0,-0.02205,0.13348,0.42545,0.74694
773,2014-01-01,USA,USD,United States,4.624167,1.0,4.624167,0.0,-0.06805,-0.00057,0.55499,0.68568
816,2014-07-01,USA,USD,United States,4.795000,1.0,4.795000,0.0,-0.03201,-0.02642,0.31577,0.75863
860,2015-01-01,USA,USD,United States,4.790000,1.0,4.790000,0.0,0.12340,0.09655,0.52458,0.72983
904,2015-07-01,USA,USD,United States,4.790000,1.0,4.790000,0.0,0.18158,0.06151,0.60446,0.74953
948,2016-01-01,USA,USD,United States,4.930000,1.0,4.930000,0.0,0.23281,0.16773,0.58086,0.83704
992,2016-07-01,USA,USD,United States,5.040000,1.0,5.040000,0.0,0.19839,0.27912,0.45377,0.80952
1036,2017-01-01,USA,USD,United States,5.060000,1.0,5.060000,0.0,0.24576,0.35715,0.55349,0.78819
1080,2017-07-01,USA,USD,United States,5.300000,1.0,5.300000,0.0,0.18700,0.28909,0.57689,0.81686
1124,2018-01-01,USA,USD,United States,5.280000,1.0,5.280000,0.0,0.09186,0.19645,0.53849,0.66475
1180,2018-07-01,USA,USD,United States,5.510000,1.0,5.510000,0.0,0.16365,0.30213,0.57176,0.77986
1236,2019-01-01,USA,USD,United States,5.580000,1.0,5.580000,0.0,0.20209,0.37000,0.55153,0.82877
1292,2019-07-09,USA,USD,United States,5.740000,1.0,5.740000,0.0,0.25540,0.39955,0.60080,0.88179
1348,2020-01-14,USA,USD,United States,5.670000,1.0,5.670000,0.0,0.23744,0.28565,0.59981,0.81572
1404,2020-07-01,USA,USD,United States,5.710000,1.0,5.710000,0.0,0.19303,0.33494,0.57062,0.84286
1460,2021-01-01,USA,USD,United States,5.660000,1.0,5.660000,0.0,0.09606,0.27543,0.51361,0.63612
1516,2021-07-01,USA,USD,United States,5.650000,1.0,5.650000,0.0,0.11967,0.18937,0.59265,0.63439
1573,2022-01-01,USA,USD,United States,5.810000,1.0,5.810000,0.0,0.17260,0.20626,0.71656,0.51568

In [31]:
len(data_raw['name'].unique())

58